<footer class="footer">
    <div class="container footer__container">
        <div>
            <a href="#" class="footer__logo">
                {{ 'logo-white.svg' | asset_url | img_tag }}
            </a>
        </div>
        <div class="footer__content">
            <div class="footer__details">
                <nav class="footer__nav">
                    <div>
                        <ul>
                            <li class="footer__title">CBD Oil Drops</li>
                            <li><a href="">CBD Oil Drop Natural</a></li>
                            <li><a href="">CBD Oil Drop Natural</a></li>
                            <li><a href="">CBD Oil Drop Natural</a></li>
                            <li><a href="">CBD Oil Drop Natural</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="footer__title">Categories</li>
                            <li><a href="">CBD Oil Drop Natural</a></li>
                        </ul>
                        <ul>
                            <li class="footer__title">Policy</li>
                            <li><a href="">CBD Oil Drop Natural</a></li>
                        </ul>
                        <ul>
                            <li class="footer__title">Support</li>
                            <li><a href="">CBD Oil Drop Natural</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="footer__title">CBD Oil Drops</li>
                            <li><a href="">CBD Oil Drop Natural</a></li>
                            <li><a href="">CBD Oil Drop Natural</a></li>
                            <li><a href="">CBD Oil Drop Natural</a></li>
                            <li><a href="">CBD Oil Drop Natural</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="footer__feedback">
                <div>
                    <p class="footer__title">Sign up for newsletter</p>
                    <div class="footer__form">
                        <input type="email" name="" id="" placeholder="enter your email address">
                        <button>Submit</button>
                    </div>
                </div>
                <div class="footer__contacts">
                    <p class="footer__title">Stay connected</p>
                    <ul>
                        <li><a href="tel:+19177463559">+1 917 746 35 59</a></li>
                        <li><a href="mailto:support@unabis.com">support@unabis.com</a></li>
                    </ul>
                </div>
                <ul class="footer__social">
                    <li><a href="#">
                            {{ 'icon-twitter.svg' | asset_url | img_tag }}
                        </a></li>
                    <li><a href="#">
                            {{ 'icon-twitter.svg' | asset_url | img_tag }}
                        </a></li>
                    <li><a href="#">
                            {{ 'icon-twitter.svg' | asset_url | img_tag }}
                        </a></li>
                    <li><a href="#">
                            {{ 'icon-twitter.svg' | asset_url | img_tag }}
                        </a></li>
                </ul>
            </div>
        </div>

        <div class="footer__payments">
            <img src="{{'mastercard.png' | asset_img_url}}" alt="mastercard">
            <img src="{{'visa-footer.png' | asset_img_url}}" alt="visa">
        </div>
        <p class="footer__text">
            FDA DISCLOSURE<br>
            This product is not for use by or sale to persons under the age of 18. This product should be used
            only
            as directed on the label. It should not be used if you are pregnant or nursing. Consult with a
            physician
            before use if you have a serious medical condition or use prescription medications. A Doctor’s
            advice
            should be sought before using this and any supplemental dietary product. All trademarks and
            copyrights
            are property of their respective owners and not affiliated with nor do they endorse this product.
            These
            statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure
            or
            prevent any disease. By using this site you agree to follow the Privacy Policy and all Terms &
            Conditions printed on this site. Void Where Prohibited By Law.
        </p>
        <p><strong>Copyright © 2021 Unabis™. All rights reserved.</strong></p>


    </div>
</footer>